<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Search Parks</title>
  </head>
  <body>
    <form action='/add_kid' method='POST' >
      Name:
      <input type="text" name="name" /><br>
      DOB:
      <input type="date" name="date_of_birth" id="date_of_birth"><br>
      Gender:
      <select name="gender" id="gender"><br>
      <option value="Girl">girl</option>
      <option value="Boy">boy</option> 
      <option value="rather_dont_say">Rather don't say</option>
      <input type="submit">
    </select>
    </form>

    <script src='/static/scripts/checkPark.js'></script>

  </body>
</html>