
    {% extends "base.html" %}

    {% block title %}Create Post{% endblock %}
   

    {% block extraHead %}
        <link href="./static/styles/map.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src= "./static/scripts/checkin.js"></script>

    {% endblock %}
 


{% block content %}

    <form action='/add_checkin' method='POST'>
        <h4>Create a Post</h4>
        <label for="date">Date:</label>
        <input type="date" name='date' id='date'>
        <br>
        <label for="arrival_time">Arrival Time:</label>
        <select name="arrival-time" id="arrival_time">
            <option value="7:00">7:00am</option>
            <option value="8:00">8:00am</option>
            <option value="9:00">9:00am</option>
            <option value="10:00">10:00am</option>
            <option value="11:00">11:00am</option>
            <option value="12:00">12:00pm</option>
            <option value="13:00">1:00pm</option>
            <option value="14:00">2:00pm</option>
            <option value="15:00">3:00pm</option>
            <option value="16:00">4:00pm</option>
            <option value="17:00">5:00pm</option>
            <option value="18:00">6:00pm</option>
            <option value="19:00">7:00pm</option>
        </select>
        <label for="departure_time">Departure Time:</label>
        <select name="departure-time" id="departure_time">
            <option value="8:00">8:00am</option>
            <option value="9:00">9:00am</option>
            <option value="10:00">10:00am</option>
            <option value="11:00">11:00am</option>
            <option value="12:00">12:00pm</option>
            <option value="13:00">1:00pm</option>
            <option value="14:00">2:00pm</option>
            <option value="15:00">3:00pm</option>
            <option value="16:00">4:00pm</option>
            <option value="17:00">5:00pm</option>
            <option value="18:00">6:00pm</option>
            <option value="19:00">7:00pm</option>
            <option value="20:00">8:00pm</option>
        </select>
        <br>
         <label for="kids">Kids:</label>
        <div>
            
            {%for kid in kids%}
            <input type="checkbox" id={{kid.kid_id}} name="kids" value={{kid.kid_id}}>
            <label for={{kid.kid_id}}>{{kid.name}}</label>
            {%endfor%}
        </div>

        <!-- Will contain the park_id (place_id from Google API) -->
        <input type='hidden' name='park-id' value='' id='park_id'>
        <br>
        <input type="submit" name='submit' id='submit'>

    </form>

    <!-- Google map search bar  -->
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    <!-- Google map infowindow  -->
    <div id="map"></div>
    <div id="infowindow-content">
        <span id="place-name" class="title"></span>
        <span id="place-id"></span>
        <br>
        <span id="place-address"></span>
    </div>
    <div id='display-results'></div>

    <script src='/static/scripts/map.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD33R9gDYfAKyLOOolNm8pjGcA4b0T60k&libraries=places&callback=initMap" async defer></script>

{% endblock %}
