

{% extends "base.html" %}

{% block title %}P@P{% endblock %}
{% block extraHead %}
<link rel="stylesheet" type="text/css" href="./static/styles/home.css">
{% endblock %}


{% block content %}

    <div id="title" class="container">
      <h1>Peers @ the Park</h1> 
      <h4> Helping parents find the perfect park match for them and their children</h4>
    </div>

    <div id="main" class="container">

        <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
        <div id="map"></div>
        <div id="infowindow-content">
            <span id="place-name" class="title"></span>
            <br> Place ID <span id="place-id"></span>
            <br>
            <span id="place-address"></span>
        </div>
    </div>

    <script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=141998163057569"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='/static/scripts/facebook.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD33R9gDYfAKyLOOolNm8pjGcA4b0T60k&libraries=places&callback=initMap" async defer></script>
    <script src='/static/scripts/map.js'></script>

    {% endblock %}