<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Search Parks</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
<!-- GOOGLE MAP showing current location -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="./static/styles/main.css" rel="stylesheet" >
    <link href="./static/styles/map.css" rel="stylesheet" >

  </head>

  <!-- This allows browsers to ensure that resources hosted on third-party servers have not been tampered with -->

  <body>
    <h1> Find Friends @ Park</h1>
    <h5>Find the park you want to check out on the map</h5>
    <form action= click>
      <p>Date: <input type="date" name='date' id='date' ></p>
      <!-- set 'date' default value to today's date -->
      
<!--       <p>Arrival Time: <input type="time" name="arrival-time"></p>
      <p>Departure Time: <input type="time" name="departure-time"></p> -->
      Check Between:
      <select name="arrival-time" id="arrival_time">
        <option value="7:00">7:00am</option>
        <option value="8:00">8:00am</option> 
        <option value="9:00">9:00am</option>
        <option value="10:00">10:00am</option> 
        <option value="11:00">11:00am</option>
        <option value="12:00">12:00pm</option> 
        <option value="13:00">1:00pm</option>
        <option value="14:00">2:00pm</option> 
        <option value="15:00">3:00pm</option>
        <option value="16:00">4:00pm</option> 
        <option value="17:00">5:00pm</option>
        <option value="18:00">6:00pm</option>
        <option value="19:00">7:00pm</option>

      </select>  
      and:
      <select name="departure-time" id="departure_time">
        <option value="8:00">8:00am</option> 
        <option value="9:00">9:00am</option>
        <option value="10:00">10:00am</option> 
        <option value="11:00">11:00am</option>
        <option value="12:00">12:00pm</option> 
        <option value="13:00">1:00pm</option>
        <option value="14:00">2:00pm</option> 
        <option value="15:00">3:00pm</option>
        <option value="16:00">4:00pm</option> 
        <option value="17:00">5:00pm</option>
        <option value="18:00">6:00pm</option>
        <option value="19:00">7:00pm</option>
        <option value="20:00">8:00pm</option>

      </select><br>

      <div id="filters">
      Filters (optional):<br>
      Gender:
      <select name="gender" id="gender" ><br>
      <option value="-"> - </option>
      <option value="Girl">girl</option>
      <option value="Boy">boy</option> 
      </select><br>
      Age:
      <input type="text" name="name" /><br>
      </div>

      <input type='hidden' name='park-id' id='park_id'>
      <br><input type="submit" name='submit' id='submit'> 
      
    
    </form>

     <!-- Google map search bar for  -->
    <input id="pac-input" class="controls" type="text" 
           placeholder="Enter a location">
    <div id="map"></div>
    <div id="infowindow-content">
      <span id="place-name"  class="title"></span><br>
      Place Name <span id="place-id"></span><br>
      <span id="place-address"></span>
    </div>
    <div id='display-results'></div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script src='/static/scripts/checkPark.js'></script>
    <script src='/static/scripts/map.js'></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD33R9gDYfAKyLOOolNm8pjGcA4b0T60k&libraries=places&callback=initMap"
        async defer></script>


  </body>
</html>